name: Terraform CI/CD

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Login to Azure
<<<<<<< HEAD
      uses: AZ login --tenant ${{ secrets.AZURE_TENANT_ID }} -u ${{ secrets.AZURE_USERNAME }} -p ${{ secrets.AZURE_PASSWORD }}
      
=======
      uses: AZ login
      with:
        username: ${{ secrets.AZURE_USERNAME }}
        password: ${{ secrets.AZURE_TOKEN }}

>>>>>>> 70f9dbf8cf55bb2a52bcc10144d3ff8a18a65ae3
    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: latest

    - name: Install Python
      uses: actions/setup-python@v2
      with:
        python-version: latest

    - name: Install Azure CLI
      uses: pip install azure-cli

    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan 

    - name: Manual Approval
      if: github.event_name == 'push'
      run: echo "You need to manually approve the deployment on the GitHub Actions UI."

    - name: Terraform Apply
      if: github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success'
      run: terraform apply 
