name: Terraform CI/CD

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Login to Azure
      run: AZ login --tenant ${{ secrets.AZURE_TENANT_ID }} -u ${{ secrets.AZURE_USERNAME }} -p ${{ secrets.AZURE_PASSWORD }}

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Install Python
      run: sudo apt install python3

    - name: Install Azure CLI
      run: pip install azure-cli

    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan 

    - name: Terraform Apply
      if: github.event == 'push'
      run: terraform apply 
